header {
    position: fixed;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 200%;
}

header div {
    display: inline;
}

#name {
    background-image: url(./resources/nordwood.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.logo img {
    height: 60px;
}

.navigation {
    display: inline;
}

.navigation a {
    color: rgb(0, 4, 7);
    margin: 100px;
    font-weight: 900;
    text-align: center;
}

a {
    width: 33%;
    height: 30px;
    border-style: solid;
    font-size: 35px;
    text-align: center;
    font-family: 'Gugi', cursive;
    text-decoration: none;
}

a:hover {}

#campaign_name {
    width: 1200px;
    padding-top: 300px;
    font-size: 110px;
    text-align: center;
    /*设置文本水平居中*/
    padding: 170px 150px;
    color: rgb(3, 3, 3);
    font-family: 'Anton', sans-serif;
    font-weight: 900;
    background-color: rgba(3, 3, 3, 0)
}

#introduction {
    background-image: url(./resources/nordwood.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#introduction p {
    text-align: center;
    font-size: 100px;
    padding: 40px;
    color: rgb(5, 5, 5);
    font-weight: 900;
}

#introduction p:last-child {
    font-size: 50px;
    
    padding: 100px;
}

#bg3 {
    background-image: url(./resources/nordwood.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#joinUs {
    text-align: center;
    padding: 70px;
    font-size: 100px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile img {
    height: 400px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px;
}

#submit button {
    width: 270px;
    height: 40px;
    border-width: 0px;
    border-radius: 3px;
    background: #1E90FF;
    cursor: pointer;
    /* 鼠标移入按钮范围时出现手势 */
    outline: none;
    /* 不显示轮廓线 */
    font-family: Microsoft YaHei;
    color: white;
    font-size: 17px;
    
}

#submit button:hover {
    background: #5599FF;
}

#footer {
    background-image: url(./resources/nordwood.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#footer p:first-child {
    text-align: center;
    font-size: 70px;
    padding: 50px;
}

.member1 {
    float: left;
    clear: both;
    align: "center";
    font-size: 40px;
    padding: 30px;
    background-image: url(./resources/nordwood.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.member1 img {
    width: 150px;
    float: left;
}

.info p {
    font-size: 30px;
}

.info input {
    width: 400px;
    height: 40px
}

.info select {
    width: 400px;
    height: 70px;
    font-size: 35px;
}

#joinUs {
    text-align: center;
    padding: 70px;
    font-size: 100px;
}

.member2 {
    float: left;
    clear: both;
    align: "center";
    font-size: 40px;
    padding: 30px;
    background-image: url(./resources/nordwood.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.member2 img {
    width: 150px;
    float: left;
}

.member3 {
    float: left;
    clear: both;
    align: "center";
    font-size: 40px;
    padding: 30px;
    background-image: url(./resources/nordwood.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.member3 img {
    width: 150px;
    float: left;
}

.member4 {
    float: left;
    clear: both;
    align: "center";
    font-size: 40px;
    padding: 30px;
    background-image: url(./resources/nordwood.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.member4 img {
    width: 150px;
    float: left;
}

#mobile {
    display: none;
}

@media screen and ( max-width: 500px) {
    #desktop {
        display: none;
    }

    #mobile {
        height: 100vh;
        background-image: url("./resources/mariya-p-1546806-unsplash.jpg");
        background-size: cover;
        display: block;
        font-family: 'Anton';
        font-size: 6vh;
        padding: 50px 10px 0 10px;
    }

    #mobile img {
        width: 100px;
        margin-bottom: 20px;
    }

    #grayCover {
        padding: 50px 10px 0 10px;

        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
    }
}