/*universial rules*/

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 4rem;
    margin-bottom: 50px;
}

a {}


/*universial rules ends*/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
    position: fixed;
}

#logo {
    width: 30%;
}

#logo img {
    width: 60px;
    margin: 20px;
    height: 40px;
}

#navigation {
    width: 70%;
    display: flex;
    justify-content: space-around;
    
}
a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-weight: 900;
}

#banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bannerBackground.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.7rem;
}

#introduction {
    padding: 10%;
    background-image: url('../images/introBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    line-height: 200%;
}


/* media query */

#signUp {
    padding: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-image: url("../images/Joinus_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#joinUs{
    padding: 60px;
    font-size: 4rem;
}
.info input {
    width: 100%;
    height: 40px;
}
#submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10%;
}
.info select{
    width: 100%;
    height: 40px;
    
}
#submit button{
    height: 40px;
    width: 80px;
    font-size: 20px;
}
#footer{
    background-image: url("../images/Joinus_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#footer p:first-child {
    text-align: center;
    font-size: 70px;
    padding: 50px;
}
#m1{
    align-content: center;
    font-size: 30px;
    padding: 40px;
}
#m1 img{
    width: 150px;
    float: left;
}
#m2{
    align-content: center;
    font-size: 30px;
    padding: 40px;
}
#m2 img{
    width: 150px;
    float: left;
}
#m3{
    align-content: center;
    font-size: 30px;
    padding: 40px;
}
#m3 img{
    width: 150px;
    float: left;
}
#m4{
    align-content: center;
    font-size: 30px;
    padding: 40px;
    
}
#m4 img{
    width: 150px;
    float: left;
}